.brands__list {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
}

.brands--short {
    max-height: 160px;
    overflow: hidden;
}

.brands__item {
    list-style-type: none;
    width: 240px;
    height: 72px;
}

.brands__btn-to-brand {
    margin-left: auto;
}

.brands__link {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 240px;
    height: 72px;
    padding: 16px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
}

/* эксперименты с анимацией */
@keyframes pulse {
    100% {
        box-shadow: 0 0 15px 0 rgb(255, 62, 121);
    }
}
.brands__link:hover .i-btn--to-brand {
    animation: pulse .7s linear infinite alternate;
}
/* эксперименты с анимацией */

@media (max-width: 767px) {
    .brands {
        height: 114px;
    }
}

@media (min-width: 768px) {
    .brands__list {
        max-width: 100%;
        flex-wrap: wrap;
        padding-left: 24px;
        padding-right: 24px;
        row-gap: 16px;
        column-gap: 24px;
    }

    .brands__item,
    .brands__link {
        width: 224px;
    }
}

@media (min-width: 1120px) {
    .brands__list {
        padding-left: 32px;
        padding-right: 32px;
        column-gap: 32px;
    }

    .brands__item,
    .brands__link {
        width: 240px;
    }
}